@import 'bootstrap-icons/font/bootstrap-icons.css';
@import 'remixicon/fonts/remixicon.css';

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root{
  /*cores*/
  --prim: #022463;
  --prim-light: #fffffd;
  --second: #0d80cc;
  --white: #fff;
  --black: #000;

  /*gradientes*/
  --gradient: linear-gradient(90deg, #00b7ff 1.9%, #0300a3 85.96%);

  /*animações*/
  --transition-regular: 0.3s;
  --transition-slow: 0.6s
}

.GolosText {
  font-family: var(--GolosText);
}

.Audiowide {
  font-family: var(--Audiowide);
}

.Lufga {
  font-family: var(--Lufga), sans-serif;
}


body {
  background-color: var(--prim);
  overflow-x: hidden !important;
  height: 5000px;
}

html, body {
  width: 100%;
  overflow-x: hidden;
}

.fixed-nav {
  animation: anim-fixed var(--transition-slow) forwards linear;
  box-shadow: 0 2px 10px rgba(131, 131, 131, 0.6);
  z-index: 9999;
}